<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ynyyaya.mapper.UserMapper">

<insert id="insertUser" parameterType="com.ynyyaya.pojo.User">
    INSERT INTO USER (userId,userName) VALUES (#{userId},#{userName})
</insert>
<select id="selectUsers" resultType="com.ynyyaya.pojo.User">
    SELECT * FROM USER
</select>
</mapper>